@media only screen and (min-width: 769px) {
    
    #loginButton {
        padding: 0;
        border: 1px solid #0029A0;
        background-color: #FFFFFF;
        border-radius: 9px;
        width: 7.33vw;
        height: 2vw;
        min-height: 30px;
        color: #0029A0;
    }

    .my-modal {
        width: 60vw;
        max-width: 100vw;
    }
    
    #xModalButton {
        border: none;
        background-color: white;
        font-size: 36px;
        float:right; 
        margin-right: 2vw;
    }

    #logo-modal {
        width: 9.84vw;
        height: 2.5vw;
        margin-top: 3vw;
        margin-left: 2vw;
    }

    #brand-modal{
        margin-left: -1.2vw;
        float: left;
        width: 25.15vw;
        height: 40.36vw;
    }

    .modal-form-wrapper {
        width: 53vw;
    }

    .modal-body {
        display:block;
    }

    #emailbox-modal, #password-modal{
        background-color: #F2F3F7;
        border: 1px solid #F2F3F7;
        border-radius: 9px;
        width: 25vw;
        height: 3.33vw;
        color: #A1A4B2;
        margin-top: 1.04vw;
        margin-left: 2vw;
    }

    #modalloginbtn {
        margin-top: 1.2vw;
        background-color: #2ED3AD;
        border: 1px solid #2ED3AD;
        border-radius: 9px;
        width: 25vw;
        height: 3.33vw;
        margin-bottom: 0.5vw;
        text-decoration: none;
        color: #F6F1FB!important;
        font-size: 14px!important;
        margin-left: 2vw;
    }

    #forgot-modal {
        color: #3F414E!important;
        font-size: 14px!important;
        font-weight: bold!important;
        margin-left: 3vw;
    }

    #continue-facebook {
        margin-top: 3vw;
        margin-bottom: 1.04vw;
    }

    #continue-facebook, #continue-google {
        background-color: white;
        border: 1px solid #F2F3F7;
        border-radius: 9px;
        width: 25vw;
        height: 3.33vw;
        color: #A1A4B2;
        text-align: left;
        color: #3F414E!important;
        font-size: 14px!important;
        margin-left: 2vw;
    }

    #continue-facebook img, #continue-google img {
        margin-left: 1.04vw;
        margin-right: 1.04vw;
    }

    #no-account-modal{
        margin-top: 2vw;
        color: #A1A4B2!important;
        font-size: 14px!important;
    }


    #no-account-modal a{
        font-size: 14px!important;
        color: #2ED3AD!important;
    }
}

@media only screen and (max-width: 576px) {
    
    #loginButton {
        position:fixed;
        float: right;
        margin-top: 5vw;
        margin-left: 8vw;
        padding: 0;
        border: 1px solid #0029A0;
        background-color: #FFFFFF;
        border-radius: 9px;
        color: #0029A0;
        width: 17.70vw;
        height: 7.81vw;
    }
    
    #brand-modal {
        display: none;
    }

    #xModalButton {
        border: none;
        background-color: white;
        font-size: 36px;
        float:right; 
        margin-right: 2vw;
    }

    .modal-form-wrapper {
        width:55vw;
        margin-left: 14vw;
    }

    .modal-body {
        display:block;
        text-align: center;
    }

    .modal-body #logo-modal {
        margin-bottom: 5vw;
        margin-top: 5vw;
    }

    #emailbox-modal, #password-modal{
        background-color: #F2F3F7;
        border: 1px solid #F2F3F7;
        border-radius: 9px;
        width: 60vw;
        height: 8vw;
        color: #A1A4B2;
        margin-top: 1.04vw;
    }

    #modalloginbtn {
        margin-top: 1.2vw;
        background-color: #2ED3AD;
        border: 1px solid #2ED3AD;
        border-radius: 9px;
        width: 60vw;
        height: 8vw;
        margin-bottom: 0.5vw;
        text-decoration: none;
        color: #F6F1FB!important;
        font-size: 14px!important;
    }

    #forgot-modal {
        color: #3F414E!important;
        font-size: 14px!important;
        font-weight: bold!important;
        margin-left: 1.5vw;
    }

    #continue-facebook {
        margin-top: 3vw;
        margin-bottom: 1.04vw;
    }

    #continue-facebook, #continue-google {
        background-color: white;
        border: 1px solid #F2F3F7;
        border-radius: 9px;
        width: 60vw;
        height: 8vw;
        color: #A1A4B2;
        text-align: left;
        color: #3F414E!important;
        font-size: 14px!important;
    }

    #continue-facebook img, #continue-google img {
        margin-left: 1.04vw;
        margin-right: 1.04vw;
    }
 
    #no-account-modal{
        margin-top: 2vw;
        color: #A1A4B2!important;
        font-size: 14px!important;
    }

    #no-account-modal a{
        font-size: 14px!important;
        color: #2ED3AD!important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
    
    #loginButton {
        position:fixed;
        float: right;
        margin-top: 3.8vw;
        margin-left: 18vw;
        padding: 0;
        border: 1px solid #0029A0;
        background-color: #FFFFFF;
        color: #0029A0;
        border-radius: 9px;
        width: 110px;
        height: 50px;
    }
    
    #brand-modal {
        display: none;
    }

    #xModalButton {
        border: none;
        background-color: white;
        font-size: 36px;
        float:right; 
        margin-right: 2vw;
    }

    .modal-form-wrapper {
        width:55vw;
        margin-left: 3vw;
    }

    .modal-body {
        display:block;
        text-align: center;
    }

    .modal-body #logo-modal {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    #emailbox-modal, #password-modal{
        background-color: #F2F3F7;
        border: 1px solid #F2F3F7;
        border-radius: 9px;
        width: 50vw;
        height: 6vw;
        color: #A1A4B2;
        margin-top: 1.04vw;
    }

    #modalloginbtn {
        margin-top: 1.2vw;
        background-color: #2ED3AD;
        border: 1px solid #2ED3AD;
        border-radius: 9px;
        width: 50vw;
        height: 6vw;
        margin-bottom: 0.5vw;
        text-decoration: none;
        color: #F6F1FB!important;
        font-size: 14px!important;
    }

    #forgot-modal {
        color: #3F414E!important;
        font-size: 14px!important;
        font-weight: bold!important;
        margin-left: 1.5vw;
    }

    #continue-facebook {
        margin-top: 3vw;
        margin-bottom: 1.04vw;
    }

    #continue-facebook, #continue-google {
        background-color: #EBEAEC;
        border: 1px solid #F2F3F7;
        border-radius: 9px;
        width: 50vw;
        height: 6vw;
        color: #A1A4B2;
        text-align: left;
    }

    #continue-facebook img, #continue-google img {
        margin-left: 1.04vw;
    }

    #continue-facebook a, #continue-google a {
        color: #3F414E!important;
        font-size: 14px!important;
        margin-left: 1.5vw;
    }

    #no-account-modal{
        margin-top: 2vw;
        color: #A1A4B2!important;
        font-size: 14px!important;
    }

    #no-account-modal a{
        font-size: 14px!important;
        color: #2ED3AD!important;
    }
}